html {
    font-family: Helvetica, arial, sans-serif;
    scroll-behavior: smooth;
}

.form {
    width: 820px;
    height: 500px;
    margin: 50px auto;
    padding: 45px 65px;
}

.form__box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-radius: 40px;
}

.form__left {
    width: 50%;
}

.form__padding {
    width: 210px;
    height: 210px;
    background: #f2f2f2;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 210px;
    display: flex;
    justify-content: center;
    -webkit-animation-duration: 3s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.form__image {
    max-width: 100%;
    width: 60%;
    object-fit: contain;
    flex-shrink: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.form__right {
    line-height: 26px;
    width: 50%;
}

.form__padding-right {
    padding: 0 25px;
}

.form__title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 form input[type="email"],  form input[type="password"],
 form input[type="text"]   {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    position: relative;
    margin-top: 5px;
}
form input:after {
    position: absolute;
    content: "a***";
}

.form__submit-btn {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    height: 35px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    font-size: 14px;
    position: relative;
    margin-top: 5px;
    /* background: #1fcc44; */
    /* font-size: 17px; */
    padding: 0px;
    cursor: pointer;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
}

.form__submit-btn:hover {
    /* background: #ff3f70; */
    box-shadow: 0 0.5em 1.5em -0.5em #00100498;
    background: linear-gradient(0deg, rgb(137, 186, 218) 0%, rgb(92, 195, 223) 100%);
}

.form__email {
    position: relative;
}


a {
    color: #107b27;
    position: relative;
}

a:hover {
    color: #ff3f70;
}

#container {
    margin-top: 90px;
    margin-bottom: 60px;
}

.user__email span,
.user__pass span {
    margin-left: 5px;
}

.form__submit-btn {
    margin-top: 40px;
}

.user__pass {
    display: flex;
    justify-content: space-between;
}

.user__pass i {
    margin-right: 10px;
    font-size: 22px;
    color: rgba(20, 167, 62, 1);
}

.user__pass i:hover {
    color: #3391ae;
    cursor: pointer;
}

.search-container {
    z-index: 1000;
    max-width: 600px;
    margin: 20px auto;
    padding-left: 20px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container form i{
    font-size: 30px;
    color: #009639;
    padding-left: 15px;
    z-index: 2;
    position: relative;
}

.search-inp input[type="text"] {
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    display: block;
    width: 85%;
    /* width: calc(100% - 50px); 20px [ left & Right ] padding + 4px border [ left & Right ]  */
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding: 10px;
    padding-left: 50px;
    border: 2px solid #00a778;
    font-family: Helvetica, arial, sans-serif;
}

#myModal .btn-default{
    background-color: #14ba54;
}


/* bounce effect */
@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce_auto {

    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(15px);
    }

    75% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce_auto {

    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(15px);
    }

    75% {
        -webkit-transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.bounce_auto {
    -webkit-animation-name: bounce_auto;
    animation-name: bounce_auto;
}

.search-container {
    max-width: 600px;
    margin: 20px auto;
    padding-left: 20px;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container form i {
    font-size: 30px;
    color: #009639;
    padding-left: 15px;
    z-index: 2;
    position: relative;
}

.search-inp input[type="text"] {
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    display: block;
    width: 85%;
    /* width: calc(100% - 50px); 20px [ left & Right ] padding + 4px border [ left & Right ]  */
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    padding: 10px;
    padding-left: 50px;
    border: 2px solid #00a778;
    font-family: Helvetica, arial, sans-serif;
}

#myModal .btn-default {
    background-color: #14ba54;
}

/* bounce effect */
/* PC */
@media (min-width: 64em) {
    .form__padding {
        width: 300px;
        height: 300px;
        margin-right: 50px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .form {
        margin: 0px 0px;
        padding: 0px 0px;
        width: 100%;
    }

    .form__box {
        display: block;
    }

    .form__right {
        width: auto;
    }

    .form__left {
        width: auto;
    }

    input {
        height: auto;
    }

    .form__submit-btn {
        padding: 10px;
    }

    .form {
        margin-bottom: 80px;
    }

    .form .user__email input,
    #password,
    .form__submit-btn {
        height: 40px;
    }

    .form__submit-btn {
        margin-top: 30px;
    }

    .form input {
        margin-bottom: 10px;
    }
}