.dark-mode .left a {
    color: black;
}

.dark-mode .left a:hover {
    text-decoration: none;
    color: rgb(4, 170, 45);
    font-weight: 150;
}

.dark-mode .slide-bar ul li a{
    color: white;
}

.dark-mode #about .wrap h2,
.dark-mode #about h1{
    color: rgb(212, 209, 209);
}

.dark-mode #about .wrap p{
    color: rgb(212, 209, 209);
}

.dark-mode #content .row .left{
    border-right: solid 1.5px #f7f7f7;
}

/* login and register */


.dark-mode .form__box{
    background-color: #1f1f2600;
}

.dark-mode .form__padding{
    background-color: #4e4e52;
}

.dark-mode .form__title{
    color: rgb(255, 255, 255);
}

.dark-mode .form .form__email,
.dark-mode .form .form__password {
    background: #676767e9;
    color: rgb(255, 255, 255) ;
}

.dark-mode .form__box .user__email span,
.dark-mode .form__box .user__pass span{
    color: rgb(255, 255, 255);
}

/* liên hệ */
.dark-mode .row .title{
    color:rgb(255, 255, 255);
} 
.dark-mode .contact .content {
    color: rgb(200, 200, 200);
}

.dark-mode form .ojb .user__name span,
.dark-mode form .user__email span,
.dark-mode form .user__subject span,
.dark-mode form .user__message span{
    color: white;
}

.dark-mode form .ojb .user__name input,
.dark-mode form .user__email input,
.dark-mode form .user__subject input,
.dark-mode form .user__message textarea{
    background: #676767e9;
    color: rgb(255, 255, 255) ;
}

.dark-mode .content-tablet{
    color: #fff;
}