<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="qna-pages-frogquiz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/img/ico/icon.png" type="image/x-icon">
    <title>Frog Quiz</title>

    <!-- icon -->
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- my css -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />

    <!-- mode -->
    <script src="js/mode.js"></script>
    <link rel="stylesheet" href="assets/css/mode.css">

    <!-- toast -->
    <script src="toast/main.js"></script>
    <link rel="stylesheet" href="toast/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- angularJS -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>

    <!-- fire -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css
    " rel="stylesheet">

    <!-- fire-base -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
    <script src="db/fire-base/connect.js"></script>
</head>

<body ng-app="myApp">
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button> -->

    <style>
        /* The switch - the box around the slider */
        .switch {
            font-size: 17px;
            position: relative;
            display: inline-block;
            width: 3.5em;
            height: 2em;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider-btn {
            --background: #28096b;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--background);
            transition: .5s;
            border-radius: 30px;
        }

        .slider-btn:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            border-radius: 50%;
            left: 10%;
            bottom: 15%;
            box-shadow: inset 8px -4px 0px 0px #fff000;
            background: var(--background);
            transition: .5s;
        }

        input:checked+.slider-btn {
            background-color: #522ba7;
        }

        input:checked+.slider-btn:before {
            transform: translateX(100%);
            box-shadow: inset 15px -4px 0px 15px #fff000;
        }
    </style>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tìm kiếm</h4>
                </div>
                <div class="modal-body">
                    <div class="search-container">
                        <form class="search-inp" action="">
                            <i class='bx bx-search-alt'></i>
                            <input type="text" placeholder="Lập trình Java..." name="search">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="toast"></div>
    <div class="tablet text-heading">
        <div class="content-tablet">
            <h1>Giao diện chỉ hỗ trợ PC và Mobile</h1>
            <h2>Thành thật xin lỗi vì sự bất tiện này</h2>
        </div>
    </div>
    <div id="main">
        <div id="header">
            <ul class="nav-pc" id="nav">
                <li><a id="logo" style="font-size: 20px;" href="#main">Frog <span
                            style="color: #15825a;">Quiz</span></a>
                </li>
                <li><a href="#about">Giới thiệu</a></li>
                <li>
                    <a>Khóa học
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#courses">Tất cả</a></li>
                        <li><a href="#courses">Lập trình cơ bản</a></li>
                        <li><a href="#courses">Lập trình nâng cao</a></li>
                        <li><a href="#courses">Lập trình website</a></li>
                        <li><a href="#courses">Lập trình nhúng</a></li>
                        <li><a href="#courses">Lập trình mobile</a></li>
                        <li><a href="#courses">Lập trình game</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Liên hệ</a></li>
                <li><a href="#contribute">Góp ý</a></li>
                <li><a id="reload1" href="#qna">Hỏi đáp</a></li>
                <li ng-if="Student == null"><a href="#login">Đăng nhập</a></li>
                <li ng-if="Student == null"><a href="#register">Đăng ký</a></li>

                <li ng-if="Student != null">
                    <a>Hi, {{Student.fullname.slice(Student.fullname.lastIndexOf(" "))}}
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav" style="width: 200px;">
                        <li><a href="#infor">Chỉnh sửa thông tin</a></li>
                        <li><a ng-click="logout()">Đăng xuất</a></li>
                    </ul>
                </li>
                

                <!-- <li>
                        <a href="#"
                            >Hi, FrogDev
                            <i class="nav-arrow-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="#">Cập nhật thông tin</a></li>
                            <li><a href="#">Đổi mật khẩu</a></li>
                            <li><a href="#">Quên mật khẩu</a></li>
                            <li><a href="#">Quên mật khẩu</a></li>
                            <li><a href="#">Lịch sử thi</a></li>
                            <li><a href="#">Đăng xuất</a></li>
                        </ul>
                    </li> 
                -->
            </ul>

            <div style="margin-right: 0px;" class="search-btn mode">
                <i onclick="changesIcon(this)" class="bx bx-sun bx-moon sun-moon"></i>
                <!-- <label class="switch">
                    <input type="checkbox">
                    <span class="slider-btn"></span>
                </label> -->
            </div>
            <!-- search -->
            <div class="search-btn" data-toggle="modal" data-target="#myModal" id="search">
                <i class="search-icon ti-search"> </i>
            </div>


            <div id="mobile-menu" class="mobile-menu-btn">
                
                <!-- <i id="menu-i" class="menu-icon ti-menu"></i> -->
                <button id="menu-i" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

            </div>
            <div class="mobile-menu-btn mode">
                <!-- <i class="search-icon ti-search" id="search-mobile"> </i> -->
                <i onclick="changesIcon(this)" class="bx bx-sun bx-moon sun-moon"></i>
            </div>

            <!-- .nav -->
        </div>

        <div id="menu-mobile">
            <ul class="nav">
                <li><a href=""></a></li>
                <li><a href="#about">Giới thiệu</a></li>
                <li>
                    <a>Khóa học
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#courses">Tất cả</a></li>
                        <li><a href="#courses">Lập trình cơ bản</a></li>
                        <li><a href="#courses">Lập trình nâng cao</a></li>
                        <li><a href="#courses">Lập trình website</a></li>
                        <li><a href="#courses">Lập trình nhúng</a></li>
                        <li><a href="#courses">Lập trình mobile</a></li>
                        <li><a href="#courses">Lập trình game</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Liên hệ</a></li>
                <li><a href="#contribute">Góp ý</a></li>
                <li><a id="reload1" href="#qna">Hỏi đáp</a></li>
                <li ng-if="Student == null"><a href="#login">Đăng nhập</a></li>
                <li ng-if="Student == null"><a href="#register">Đăng ký</a></li>

                <li ng-if="Student != null">
                    <a>Hi, {{Student.fullname.slice(Student.fullname.lastIndexOf(" "))}}
                        <i class="nav-arrow-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav" style="width: 200px;">
                        <li><a href="#infor">Chỉnh sửa thông tin</a></li>
                        <li><a ng-click="logout()">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <main ng-view>

        </main>

        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>Giới thiệu</h6>
                        <p class="text-justify">Frog Quiz<i> HỆ THỐNG TRẮC NGHIỆM LẬP TRÌNH MIỄN PHÍ 2023</i> là một
                            website hỗ trợ các bài tập cơ bản, các phần lí thuyết và bài tập trắc nghiệm của các
                            ngôn
                            ngữ lập trình, công nghệ phổ biến như C, C++, Java, HTML, CSS, Bootstrap,
                            JavaScript, PHP, Android, SQL và các thuật toán.</p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Khóa học</h6>
                        <ul class="footer-links">
                            <li><a href="#">C</a></li>
                            <li><a href="#">UI Design</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">Embed</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Frog team</h6>
                        <ul class="footer-links">
                            <li><a href="#">Frog Guide</a></li>
                            <li><a href="#">Email</a></li>
                            <li><a href="#">TikTok</a></li>
                            <li><a href="#">YouTube</a></li>
                            <li><a href="#">Fanpage</a></li>

                        </ul>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                            <a href="#">Frog</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a target="_blank" class="facebook" href="#"><i
                                        class="facebook-icon ti-facebook"></i></a></li>
                            <li><a target="_blank" class="twitter" href="#"><i class="twitter-icon ti-twitter"></i></a>
                            </li>
                            <li><a target="_blank" class="github" href="https://github.com/"><i
                                        class="github-icon ti-github"></i></a></li>
                            <li><a target="_blank" class="linkedin" href="#"><i
                                        class="linkedin-icon ti-linkedin"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="js/mobile-menu.js"></script>
    <script src="router/js/main.js"></script>
    <script src="router/js/login.js"></script>
    <script src="router/js/qnaCtrl.js"></script>
    <script src="router/js/register.js"></script>
    <script src="router/js/courseCtrl.js"></script>
    <script src="router/js/coursesCtrl.js"></script>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyAYXprRSstGjbytZt-hL76pF6iidX6GVCM",
            authDomain: "frog-quiz-1b87e.firebaseapp.com",
            databaseURL: "https://frog-quiz-1b87e-default-rtdb.firebaseio.com",
            projectId: "frog-quiz-1b87e",
            storageBucket: "frog-quiz-1b87e.appspot.com",
            messagingSenderId: "531268254580",
            appId: "1:531268254580:web:ea3b4d8699f2b7be9c4a21",
            measurementId: "G-N04SML8LWH"
        };

        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>

    <script>
        function reloadPage() {
            //reload my page when click qna page

            //username password
            let userName = localStorage.getItem("user-name");
            let userPass = localStorage.getItem("user-pass");

            let path = 'user';
            var dbRef = firebase.database().ref().child(path + '/' + userName);

            // alert(userName);
            if (userName != "none" && userPass != "none") {
                dbRef.on('value', (snapshot) => {
                    if (snapshot.val() == null) {
                        return;
                    }
                    let getEmail = snapshot.val().email;
                    let getUserName = snapshot.val().username;
                    let getPass = snapshot.val().password;
                    if (userPass == getPass && userName == getUserName) {
                        //alert(true);
                        $rootScope.Student = snapshot.val();
                        //window.location.reload();
                        window.location.href = '#qna';
                        window.location.reload();
                        // Swal.fire({
                        //     title: '<h1 style="color: red; font-size:20px;font-weight: bold;">Tự động đăng nhập thành công</h1>',
                        //     icon: 'success',
                        //     showConfirmButton: false,
                        //     showCancelButton: false,
                        //     timer: 1000

                        // });
                    }

                }, (errorObject) => {
                    console.log('The read failed: ' + errorObject.name);
                });
            }

        }



        //toast
        function showSuccessToast() {
            toast({
                title: "Thành công!",
                message: "Quá tuyệt vời Chào mừng bạn đến với Frog Quiz.",
                type: "success",
                duration: 5000
            });
        }

        function showErrorToast() {
            toast({
                title: "Thất bại!",
                message: "Vui lòng đăng nhập vào hệ thống để bắt đầu.",
                type: "error",
                duration: 5000
            });
        }
    </script>
</body>

</html>