<link rel="stylesheet" href="./pages/css/mode.css">
<link rel="stylesheet" href="./pages/css/search.css">
<link rel="stylesheet" href="./pages/css/login.css">

<script src="https://smtpjs.com/v3/smtp.js"></script>


<section>
    <style>
        .dark-mode .form__submit-btn {
            background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
            box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
        }
    </style>
    <div id="container" class="container">
        <div class="row">
            <div class="form">
                <div class="form__box">
                    <div class="form__left" ng-show="findAccountSucces == 1">
                        <div class="form__padding bounce_auto">
                            <img class="form__image bounce" src="./assets/img/ico/question.png" />
                        </div>
                    </div>

                    <div class="form__left" ng-show="findAccountSucces == 2">
                        <div class="form__padding bounce_auto">
                            <img class="form__image bounce" src="./assets/img/ico/selfie.png" />
                        </div>
                    </div>

                    <div class="form__left" ng-show="findAccountSucces == 3">
                        <div class="form__padding bounce_auto">
                            <img class="form__image bounce" src="./assets/img/ico/rich.png" />
                        </div>
                    </div>
                    <div class="form__right">
                        <div class="form__padding-right">
                            <form ng-show="findAccountSucces == 1">
                                <h1 class="form__title">Tìm tài khoản</h1>
                                <div class="user__email">
                                    <span>Email hoặc tên đăng nhập:</span>
                                    <input style="margin-top: 20px;" class="form__email" ng-model="email" type="text"
                                        placeholder="" />

                                    <input style="margin-top: 50px;" ng-click="findUser()" class="form__submit-btn"
                                        type="button" value="Tìm tài khoản" />
                                </div>
                            </form>
                            <form ng-show="findAccountSucces == 2">
                                <h1 class="form__title">Xác thực email</h1>
                                <div class="user__email">
                                    <span>Nhập vào mã xác nhận:</span>
                                    <input style="margin-top: 20px;" class="form__email" ng-model="code" type="text"
                                        placeholder="" />

                                    <input style="margin-top: 50px;" ng-click="validEmail()" class="form__submit-btn"
                                        type="button" value="Đổi mật khẩu" />
                                </div>
                            </form>

                            <form ng-show="findAccountSucces == 3">
                                <h1 class="form__title">Thay đổi mật khẩu</h1>
                                <div class="user__email">
                                    <span>Nhập mật khẩu mới:</span>
                                    <input style="margin-top: 20px;" class="form__email" ng-model="pass" type="text"
                                        placeholder="" />
                                    <span>Xác nhận mật khẩu:</span>
                                    <input style="margin-top: 20px;" class="form__email" ng-model="passConfirm"
                                        type="text" placeholder="" />

                                    <input style="margin-top: 50px;" ng-click="changePass()" class="form__submit-btn"
                                        type="button" value="Đổi mật khẩu" />
                                </div>
                            </form>
                            <span><a class="form__link" href="#login.html">Đăng nhập</a></span>
                            <p>
                                <a class="form__link" href="#register">Tạo tài khoản mới</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("show").onclick = function () {
        let password = document.getElementById("password");
        let iconPass = document.getElementById("show");
        let flag = iconPass.classList.contains("bxs-hide");

        flag && iconPass.classList.toggle("bxs-show");

        password.type = password.type == "password" ? "text" : "password";
    }

    function showErrorToast() {
        toast({
            title: "Thất bại!",
            message: "Tài khoản không tồn tại trên hệ thống!",
            type: "error",
            duration: 5000
        });
    }

</script>