<section>
    <div id="slider">
        <div class="text-content">
            <h1 class="text-heading"><span class="text-heading">Chào mừng đến với</span> <br id="wrap-heading">
                <span id="heading-logo" >Frog Quiz</span>
            </h1>
            <div class="text-description">
                Môi trường học tập thú vị dành cho sinh viên ngành CNTT!

            </div>
            <!-- <button ng-click="getStating()" class="button-88" role="button">Bắt đầu
                nào</button> -->

            <button ng-click="getStating()" class="cssbuttons-io-button"> Bắt đầu nào
                <div class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </button>
        </div>
    </div>

    <hr class="hr-feeds">
    <div class="noi_bat">
        <div class="one">
            <div class="left">
                <i class='bx bxl-spring-boot'></i>
            </div>
            <div class="right">
                <div class="tieu_de">SPRING BOOT</div>
                <p>Hiểu biết về Restfull Api bằng ngôn ngữ Java</p>
            </div>
        </div>
        <div class="two">
            <div class="left">
                <i class='bx bxl-flutter'></i>
            </div>
            <div class="right">
                <div class="tieu_de">FLUTTER</div>
                <p>xây dựng được mobile-app đơn giản với ngôn ngữ Dart</p>
            </div>
        </div>
        <div class="three">
            <div class="left">
                <i class='bx bxl-unity'></i>
            </div>
            <div class="right">
                <div class="tieu_de">UNITY</div>
                <p>xây dựng game cơ bản với Unity</p>
            </div>

        </div>
        <div class="four">
            <div class="left">
                <i class='bx bxs-bug'></i>
            </div>
            <div class="right">
                <div class="tieu_de">BUGS</div>
                <p>có kỹ năng gỡ lỗi, debug với nhiều tool khác nhau</p>
            </div>
        </div>
    </div>

    <div id="banner" class="banner row">
        <div class="col-sm-8 left">
            <div class="content">
                <h2><span class="logo">Frog Quiz</span> sẽ giúp được gì cho bạn</h2>
                <div class="block">
                    <i class='bx bx-meteor'></i>
                    <p>Giúp bạn học lập trình thú vị hơn qua các câu trắc nghiệm thay vì những bài học khô khan
                        trên
                        lớp</p>
                </div>
                <div class="block">
                    <i class='bx bx-layer-plus'></i>
                    <p>Giúp bạn nhớ lâu hơn các cú pháp trong lập trình, từ đó có thể ứng dụng vào các dự án
                        thực tế
                    </p>
                </div>
                <div class="block">
                    <i class='bx bx-rocket'></i>
                    <p>Hiểu hơn các công nghệ mới, phổ biến trên thế giới. Giúp bạn có thể học hỏi nhiều kiến
                        thức
                        chuyên môn</p>
                </div>
                <div class="block">
                    <!-- HTML !-->
                    <button class="button-30" role="button">Bắt
                        đầu ngay</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 right">
            <div class="content">
                <img src="images/banner-img-1.png" alt="">
            </div>
        </div>
    </div>

    <div id="content">
        <hr class="hr-fire">
        <h2 id="title-tong-quan" style="margin-left: 20px;">Cùng tìm hiểu về Frog <span
                style="color: #15825a;">Quiz</span></h2>

        <div class="noi_bat tong-quan">
            <div class="one">
                <div class="left">
                    <i style="color: rgb(27, 135, 138);" class='bx bx-code-alt'></i>
                </div>
                <div class="right">
                    <div class="tieu_de">CODE</div>
                    <p>Cung cấp nhiều kiến thức thú vị, thực tế liên quan tới lập trình</p>
                </div>
            </div>
            <div class="two">
                <div class="left">
                    <i style="color: rgb(255, 61, 61);" class='bx bx-palette'></i>
                </div>
                <div class="right">
                    <div class="tieu_de">GRAPHIC</div>
                    <p>Giao diện tiện lợi dễ sử dụng, tương thích nhiều nền tảng</p>
                </div>
            </div>
            <div class="three">
                <div class="left">
                    <i style="color: rgb(185, 152, 22);" class='bx bxs-brightness-half'></i>
                </div>
                <div class="right">
                    <div class="tieu_de">DARK MODE</div>
                    <p>Cung cấp chế độ dark mode giúp người học tránh cường độ ánh sáng cao</p>
                </div>

            </div>
            <div class="four">
                <div class="left">
                    <i style="color: rgb(197, 43, 153);" class='ti-infinite'></i>
                </div>
                <div class="right">
                    <div class="tieu_de">PERMANENTLY</div>
                    <p>Cập nhật các kiến thức mới liên tục</p>
                </div>
            </div>
        </div>
    </div>
</section>