
.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: #FFF;
	margin: 6px 0px;
	transition: 0.4s;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;

	display: inline-block;
	color: #FFF;
	font-size: 20px;
	background-color: #FF9FDB;
	padding: 12px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;

	@media (max-width: 767px) {
		font-size: 18px;
	}
}