/* PC */
@media (min-width: 64em) {

    #title-tong-quan{
        text-align: center;
        margin-top: 90px;
        margin-bottom: 50px;
    }

}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

    
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

/* Mobile */
@media (max-width: 46.1875em) {
    #mode-pc {
        display: none;
    }

    .s-full-width {
        width: 100% !important;
    }

    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav>li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: rgb(255, 255, 255);
    }

    #nav .subnav a {
        color: rgb(0, 0, 0);
        padding: 5px 41px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

    .contact-submit-btn {
        font-size: 18px;
    }

    .noi_bat {
        display: block;
        justify-content: center;
        margin-bottom: 50px;
    }

    .noi_bat .one,
    .two,
    .three,
    .four {
        width: auto;
        margin-bottom: 20px;
    }

    .slider {
        margin: 0px 50px;
    }

    #slider .text-heading {
        font-weight: 500;
        font-size: 30px;
        margin: 0 40px;
    }

    #slider .text-heading span {
        padding-top: 100px;
    }

    #slider .text-description {
        margin-left: 20px;
        margin-right: 20px;
        /* text-shadow: 0 0 1px #000; */
    }

    #content .hr-fire{  
        margin-top: 50px;
    }
}